# Use the following command to regenerate Python modules
# flatpak-pip-generator --runtime=org.kde.Sdk//6.11 -r requirements.txt --prefer-wheels=pydantic_core,maturin,lxml

maturin
pydantic_core
appdirs
bblearn
beautifulsoup4
bwfilters
lxml
packaging
pathvalidate
pydantic
python-dateutil
requests
whoisit
